.title {
    justify-content: center;
    margin-bottom: 30px;
}

input {
    border-style: none
}

.tabel-box {
    padding-left: 200px;
    padding-right: 200px;
}

@media screen and (max-width: 1112px) {
    .tabel-box {
        padding-left: 10px;
        padding-right: 10px;
    }
}